[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/latex"]
	path = vim/bundle/latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/searchcomplete"]
	path = vim/bundle/searchcomplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "vim/bundle/fswitch"]
	path = vim/bundle/fswitch
	url = git://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/bundle/gitignore"]
	path = vim/bundle/gitignore
	url = git://github.com/vitaly/vim-gitignore.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tabman"]
	path = vim/bundle/tabman
	url = git://github.com/kien/tabman.vim.git
[submodule "autojump"]
	path = autojump
	url = git://github.com/joelthelion/autojump.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "oh-my-zsh-custom/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "guake-colors-solarized"]
	path = guake-colors-solarized
	url = git://github.com/coolwanglu/guake-colors-solarized.git
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule "vim/bundle/tomorrow-night"]
	path = vim/bundle/tomorrow-night
	url = git://github.com/ootoovak/vim-tomorrow-night.git
