[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
	ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
	ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/latex"]
	path = vim/bundle/latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fswitch"]
	path = vim/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/bundle/gitignore"]
	path = vim/bundle/gitignore
	url = https://github.com/vitaly/vim-gitignore.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tabman"]
	path = vim/bundle/tabman
	url = https://github.com/kien/tabman.vim.git
[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "oh-my-zsh-custom/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "guake-colors-solarized"]
	path = guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
	ignore = dirty
[submodule "cdd"]
	path = cdd
	url = https://github.com/jestor/cdd.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/startify"]
	path = vim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/bundle/hugefile"]
	path = vim/bundle/hugefile
	url = https://github.com/mhinz/vim-hugefile.git
[submodule "vim/bundle/seek"]
	path = vim/bundle/seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/django-support"]
	path = vim/bundle/django-support
	url = https://github.com/lambdalisue/vim-django-support.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vimux-pyutils"]
	path = vim/bundle/vimux-pyutils
	url = https://github.com/julienr/vimux-pyutils.git
[submodule "vim/bundle/autopep8"]
	path = vim/bundle/autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/seanbell/python-syntax
